*{
    margin:0px;
    padding:0px;
    font-size:12px;
    font-family:Tahoma;
}
.header_title{
    color:white;
    text-indent: 20px;
    font:bold 20px Tahoma;
}
header,section,footer,aside,nav,article,hgroup{
    display:block;
}
body{
    text-align:center;
    background-color:lightgray;
}
#big_wrapper{
    border:1px solid black;
    width:100%;
    margin:0 auto;
    text-align:left;
}
#top_header{
    background-color:#9fc5e8;
    padding:10px;
}
.hr_blue{
    height:5px;
    background-color:blue;
    border:0;
}
.hr_red{
    height:5px;
    background-color:green;
    border:0;
}
#top_menu{
    background-color:#9fc5e8;
    color:white;
    text-align:right;
    padding:10px;
}
#top_menu li{
    display:inline-block;
    list-style:none;
    padding:5px;
    font:bold 14px Tahoma;
}
#main_section{
    float:left;
    width:250px;
    margin:20px 5px 10px 10px;
    background-color:white;
    padding:10px;
}
#main_section div{
    padding-bottom:20px;
}
#main_section h3{
    color:white;
    background-color:#9fc5e8;
    padding:10px;
    font-size:16px;
}
#main_section li{
    list-style:none;
    padding:5px;
    color:blue;
}
#main_section li a{
    text-decoration:none;
    color: #399ab2;
}
#main_section li a:hover{
    text-decoration:none;
    color: green;
}
#side_news{
    background-color:white;
    height:auto;
    float:left;
    width:950px;
    margin:20px auto 10px auto;
    padding:50px;
}
#side_news h1{
    color:black;
    font:bold 12px Tahoma;
}
#side_news h2{
    color: #5AB2CE;
    font-size:14px;
    border-bottom:1px solid #9fc5e8;
}
#side_news h2 a{
    background: #e3e3e3;
    padding: 5px 10px 5px 10px;
    text-decoration:none;
}
#side_news header{
    color:#9fc5e8;
    padding:30px 0 5px 0;
    border-bottom:1px solid #9fc5e8;
}
#side_news div a{
    color:#9fc5e8;
}
#side_news div a:hover{
    color:green;
}
#side_news footer{
    text-align:right;
    color:gray;
}
#side_news p{
    font-size:20px;
    padding-top:15px;
}
#side_news p span{
    font-size:20px;
}
.code_total {
    overflow: auto;
    border-top: #cecece 1px solid;
    border-right: #cecece 1px solid;
    border-bottom: #cecece 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    min-height: 40px;
    border-left: #cecece 1px solid;
    padding-right: 5px;
    background-color: #f0f0f0;
    margin-top:15px;
}
.code_total pre {
    font-size: 15px;
    font-family: consolas,'Courier New',courier,monospace;
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
    padding:0;
}
.green{
    color:green;
    font-size: 15px;
}
.red{
    color:red;
    font-size: 15px;
}
.blue{
    color:blue;
    font-size: 15px;
}